@CHARSET "UTF-8";
/**
Throws SPAM Away
Option page
*/

h2 {
	padding: 10px !important;
}

.wrap h3 {
	background: #fff;
	border-left: 3px solid orange ;
	margin: 0 0 15px 15px;
	padding: 5px 10px;
}

.wrap p {
	margin: 0 0 15px 15px;
	padding: 5px 10px;
}

.wrap table.form-table {
	margin: 0 0 15px 15px;
	padding: 5px 10px;
	border-collapse: separate;
	border-spacing: 5px;
}

.wrap table.form-table tbody tr th {
	background: #fff;
	width: 250px;
	margin: 0 0 15px 15px;
	padding: 5px 10px;
	border: solid 1px #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.1 );
	overflow: hidden;
}

